# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore')

import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' 

import sys
sys.path.append('/home/chayan/UMINTFS/')

import numpy as np
import pandas as pd
import tensorflow as tf
from utills import umint
from utills import datasets as ds

# Loading data and models

In [2]:
dataname = 'cbmc8k'
x1, x2, y = ds.LoadData(dataname)

In [3]:
encoder = tf.keras.models.load_model("UMINT_encoder_"+dataname+".h5", compile=False)
decoder = tf.keras.models.load_model("UMINT_decoder_"+dataname+".h5", compile=False)

# Parameters

In [4]:
data = [x1, x2]
FStype = 'top'
num_fs = [64, 10]

# Run UMINTFS in an Unsupervised manner.

In [5]:
top_features = umint.UMINT.UMINTFS(data, encoder, decoder, num_fs)

# Modality wise top features

In [6]:
top_features[0].head()

  feature_name  feature_score
0        CD79A       0.016079
1      HLA-DRA       0.014925
2         CD74       0.014021
3         IGHM       0.014018
4       FCGR3A       0.013908

In [7]:
top_features[1].head()

  feature_name  feature_score
0          CD4       0.194778
1       CD45RA       0.187812
2          CD8       0.181009
3          CD3       0.166781
4         CD14       0.139280

# Saving the results

In [8]:
top_features[0].to_csv('UMINTFS_'+dataname+'_top_RNA_unsupervised.csv')
top_features[1].to_csv('UMINTFS_'+dataname+'_top_ADT_unsupervised.csv')

In [9]:
UMINTFS_RNA = x1[top_features[0]['feature_name']]
UMINTFS_RNA.to_csv('UMINTFS_'+dataname+'_rna.csv')